@import url("@WLOGOUT@/etc/wlogout/style.css");

@import url("../kanagawa.css");

* {
  border-radius: 0;
  transition: none;
  animation: none;
  box-shadow: none;
  font-family: 'CommitMono Nerd Font', sans-serif;
}

window {
  background-color: alpha(@background, 0.95);
}

window button {
    background-color: @background;
    background-image: none;
  color: @foreground;
  text-decoration-color: @foreground;
  border: none;
  outline: none;
  box-shadow: none;
}

button:hover,
button:focus,
button:active,
window button:hover,
window button:focus,
window button:active {
   background-color: @hover_background;
  color: @foreground;
  border: none;
  box-shadow: none;
  outline: none;
}

#lock { background-image: url("@WLOGOUT_ICONS@/lock.png"); }
#logout { background-image: url("@WLOGOUT_ICONS@/logout.png"); }
#suspend { background-image: url("@WLOGOUT_ICONS@/suspend.png"); }
#hibernate { background-image: url("@WLOGOUT_ICONS@/hibernate.png"); }
#shutdown { background-image: url("@WLOGOUT_ICONS@/shutdown.png"); }
#reboot { background-image: url("@WLOGOUT_ICONS@/reboot.png"); }
